/* 전체 요소를 선택하는 선택자 */
/* * {
    color: blueviolet;
} */

div {
    color: blue;
}

#idSelector {
    color: brown;
}

.classSelector {
    background-color: cadetblue;
}

a[href] {
    background-color: crimson;
}

a[target="_blank"] {
    background-color: chartreuse;
}
