* {
    box-sizing: border-box;
}

#logo {
    width: 100px;
    margin-right: 100px;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
}


#header > div{
    display: flex;
    font-size: 16px;
}

.header-right {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;  
    margin-right: 500px;  
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.button {
    background-color: aquamarine;
    border-radius: 5px;
}

.login-section {
    display: flex;
    
}